* {

}
:root {
	--clr-primary: #651fff;
  	--clr-gray: #37474f;
  	--clr-gray-light: #b0bec5;
}

body {
	color: var(--clr-gray);
	/*font-family: proxima-nova, Sans-serif;*/
	font-family: optima ;
}
section {
	margin: 7em auto;
}
a:active, a:link {
	text-decoration: none;
}
.u-clearfix {
	padding-top: 6em;
}
.u-section-1 {
    background-image: url(../images/paper-rocket.svg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.u-image{
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 70% 30%;
}

.u-shading, .u-overlap.u-overlap-contrast .u-header {
    color: #ffffff;
}
.mainIntro {
    padding: 2em;
    color: #000 !important;
}
h1 {
	font-size: 4em;
	font-weight: 700;
}
h2 {
	font-size: 2.3em;
	font-weight: 400;
}

.postedJobs {
  	width: 80%;
  	margin: .5em auto;
}
.bgImage {
   	padding: 4em;
}
.searchForm input{
	padding: .5em;
}
.searchForm input[type=text]:focus {
	border: 1px solid lightgrey;
}
.searchBtn {
	background-color: lightgrey;
	border: 1px solid lightgrey;
	color: #fff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.forSmall {
  	display: none;
}

.forSmall select{
    width: 100%;
    padding: 8px;
    height: 55px;
    border: 3px solid;
}

/* Jobs display on the fron page */

.postedJob {
	display: flex;
	border: 1px solid lightgrey;
	color: #000;
	border-radius: 2px;
  	background-color: lightgrey;
}
.companyLogo{
	flex: 2;
	width: 60%;
	display: flex;
	padding-top: 1em;
}
.companyLogo .coyLogo {
	margin-right: 8px;
}
.div1 {
  	margin-right: .5em;
}
.jobDesc {
	flex: 1;
	width: 40%;
  	margin-top: 3px;
}

/*End of jobs display*/

/*############### Post-a-job PAGE ##########*/

#jobForm input[type=text], #jobForm input[type=email], #jobForm input[type=file], #jobForm input[type=url], #jobForm select {
  	height: 3em;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 55%;
	height: 100%;
  	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  	padding: 15px 15px 80px;
}
#confirmationForm {
  	display: none;
}
#progressBar {
  	display: none;
}
.cvDiv {
  	width: 80%;
  	margin: 1em auto;
}

.Social a i{
  	font-size: 1.5em;
}
ul.list_block {
  	list-style: none;
}

.jobDesc {
  	padding-top: .5em;
}
.jobDesc p {
  	color: grey;
}

.bi-asterisk {
	font-size: 10px;
}
.label {
	font-weight: 700;
}

/*=========== MISCELLEIOUS ==========*/
.success_btn {
    border: 2px solid #e9afc6;
    padding: .7em 1.1em;
    border-radius: 6px;
    background-color: #e9afc6;
    color: #fff;
    transition: 0.5s;
}
.success_btn:hover {
    background-color: #e9afc6;
    color: #fff;
    border:2px solid #e9afc6;
}
.new_job {
    background-color: #e9afc6;
    color: #000 !important;
    padding: .5em 1em;
    border-radius: 2em;
    box-shadow: 0 0  5px;
    transition: 0.5s;
    text-align: center;
}
.new_job:hover {
    box-shadow: none;
}

.job_btn {
    border-radius: 2em;
}

/*============== PAYMENTS PAGE ============*/
.receipt {
	margin: 2em auto;
	width:50%;
	background:aliceblue;
	padding:1.5em;
	font-family:sans-serif;
}
.receipt h1 {
  	text-align:center;
  	color:#d1d1d1;
  	font:uppercase;
}
.details {
  	border-top:3px solid tomato;
  	background:#fff;
  	padding: 1.5em;
}
.details p {
  	color: ;
}
.details h2, .details h3, .details h4, .details p {
  	text-align:center;
}
.details table {
  	width:100%;
  	margin:2em 0;
}
.details table td {
  	padding:.5em;
}
.receipt_print {
  	margin-top:3em;
}

/*======== END OF PAYMENTS PAGE ========= */

/*========== JOBS PAGE ========*/
.job-details-logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid grey;
}

/*============ COMMONLY USED ============*/

.forms {
  	border: 1px solid #6c757d;
	padding: 3em;
	width: 70%;
	margin: 3em auto;
  	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.jobPost {
  	border: 1px solid #6c757d;
  	padding: 2em;
  	width: 70%;
  	margin: 1em auto;
  	box-shadow: 0 .5rem 1rem rgba(0,0,0, .5);
}
.btnContainer {
	width: 20%;
	margin: 1em auto;
}
#LatestBtn {
	display: none;
	
}
/*======================================SMALL SCREEN=============*/
@media screen and (max-width: 768px) {
	.u-clearfix {
		padding-top: 8em;
	}
	.u-image{
	    background-position: 50% 50%;
	}
	.mainIntro {
	    padding: .5em;
	    color: #000 !important;
	}
	h1 {
		font-size: 2em;
		font-weight: 600;
	}
	h2 {
		font-size: 1.3em;
		font-weight: 200;
	}

	.postedJobs {
	  	width: 100%;
	  	margin: .5em auto;
	}
	
	.searchForm input{
		padding: .5em;
	}

	.bgImage {
	   	padding: 0em;
	}
	.jobcard {
		margin-left: -1.5em;
		border-left: none;
		border-right:1px solid tomato;
		padding: 0;
	}
	.companyLogo img {
		display: none;
	}
	a p.jobTitle {
		font-size: 1em;
	}
	.div2 p {
		font-size: .9em;
		color: #;
	}
  	.div1 {
    	display: none;
  	}
	.jobDesc p {
		font-size: .8em;
	}
  	.notFound {
    	text-align: center;
  	}
  
  	.forSmall {
    	display: block;
  	}
  	.forBig {
    	display: none;
  	}

  	.modal.left .modal-dialog,
  	.modal.right .modal-dialog {
    	position: fixed;
    	margin: auto;
    	width: 95%;
  	}
  	div#imgBig.d-flex.justify-content-between.mb-5 {
    	display: none !important;
  	}
  	.cvDiv {
    	width: 100%;
  	}
  	.forms {
	  	border: none;
		padding: 0em;
		width: 100%;
		margin: 1em auto;
	  	box-shadow: none;
	}
	.jobPost {
	  	border: none;
	  	padding: 0em;
	  	width: 100%;
	  	margin: 1em auto;
	  	box-shadow: none;
	}
	.btnContainer {
		width: 100%;
		margin: 1em auto;
	}
}

@media screen and (max-width: 600px) {
  .u-clearfix {
		padding-top: 8em;
	}
	.u-image{
	    background-position: 50% 50%;
	}
	.mainIntro {
	    padding: .5em;
	    color: #000 !important;
	}
	h1 {
		font-size: 2.4em;
		font-weight: 600;
	}
	h2 {
		font-size: 1.7em;
		font-weight: 200;
	}

	.postedJobs {
	  	width: 100%;
	  	margin: .5em auto;
	}
	
	.searchForm input{
		padding: .5em;
	}

	.bgImage {
	   	padding: 0em;
	}
	.jobcard {
		margin-left: -1.5em;
		border-left: none;
		border-right:1px solid tomato;
		padding: 0;
	}
	.companyLogo img {
		display: none;
	}
	a p.jobTitle {
		font-size: 1em;
	}
	.div2 p {
		font-size: .9em;
		color: #;
	}
  	.div1 {
    	display: none;
  	}
	.jobDesc p {
		font-size: .8em;
	}
  	.notFound {
    	text-align: center;
  	}
  
  	.forSmall {
    	display: block;
  	}
  	.forBig {
    	display: none;
  	}

  	.modal.left .modal-dialog,
  	.modal.right .modal-dialog {
    	position: fixed;
    	margin: auto;
    	width: 95%;
  	}
  	div#imgBig.d-flex.justify-content-between.mb-5 {
    	display: none !important;
  	}
  	.cvDiv {
    	width: 100%;
  	}
  	.forms {
	  	border: none;
		padding: 0em;
		width: 100%;
		margin: 1em auto;
	  	box-shadow: none;
	}
	.jobPost {
	  	border: none;
	  	padding: 0em;
	  	width: 100%;
	  	margin: 1em auto;
	  	box-shadow: none;
	}
}

/*@media (max-width: 1368px) {
	.u-section-1 {
	    background-image: url(../images/paper-rocket.svg);
	    height: 90vh;
	    background-repeat: no-repeat;
	    background-size: auto 100%;
	}
  .u-clearfix {
		padding-top: 18em;
	}
	.u-image{
	    background-position: 50% 50%;
	}
	.mainIntro {
	    padding: .5em;
	    color: #000 !important;
	}
	h1 {
		font-size: 3.3em;
		font-weight: 600;
	}
	h2 {
		font-size: 2.3em;
		font-weight: 200;
	}
	p {
		font-size: 1.2em;
	}
	.postedJobs {
	  	width: 100%;
	  	padding: .3em;
	  	margin: .5em auto;
	}
	
	.searchForm input{
		padding: .5em;
	}

	.bgImage {
	   	padding: 0em;
	}
	.jobcard {
		margin-left: -1.5em;
		border-left: none;
		border-right:1px solid tomato;
		padding: 0;
	}
	.companyLogo img {
		display: none;
	}
	a p.jobTitle {
		font-size: 1em;
	}
	.div2 p {
		font-size: .9em;
		color: #;
	}
  	.div1 {
    	display: none;
  	}
	.jobDesc p {
		font-size: .8em;
	}
  	.notFound {
    	text-align: center;
  	}
  
  	.forSmall {
    	display: block;
  	}
  	.forBig {
    	display: none;
  	}

  	.modal.left .modal-dialog,
  	.modal.right .modal-dialog {
    	position: fixed;
    	margin: auto;
    	width: 95%;
  	}
  	div#imgBig.d-flex.justify-content-between.mb-5 {
    	display: none !important;
  	}
  	.cvDiv {
    	width: 100%;
  	}
  	.forms {
	  	border: none;
		padding: 0em;
		width: 100%;
		margin: 1em auto;
	  	box-shadow: none;
	}
	.jobPost {
	  	border: none;
	  	padding: 0em;
	  	width: 100%;
	  	margin: 1em auto;
	  	box-shadow: none;
	}
}*/




